@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;

  --primary-color: white;
  --secondary-color: rgb(100, 100, 100);
  --tertiary-color: rgb(50, 50, 50);

  --default-color: rgb(212, 212, 212);
  --paren-color-1: rgb(255, 215, 1);
  --paren-color-2: rgb(218, 112, 214);
  --paren-color-3: rgb(23, 159, 255);
  --comment-color: rgb(107, 153, 86);
  --error-color: red;
  --namespace-color: rgb(180, 152, 255);
  --ident-color: rgb(153, 216, 250);
  --number-literal: rgb(181, 206, 169);
  --string-color: rgb(206, 144, 120);


  background-color: rgb(34, 34, 34);
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
}

code {
  background-color: var(--tertiary-color);
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 1.5px;
}

pre:has(code) {
  background-color: var(--tertiary-color);
  padding: 8px;
  border-radius: 1.5px;
}

pre > code {
  padding: 0px;
  border-radius: 0px;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.vertical-bar {
  width: 1px;
  height: 100%;
  background-color: var(--secondary-color);
}

.horizontal-bar {
  height: 1px;
  width: 100%;
  background-color: var(--secondary-color);
}

div {
  /* We're crazy like this. */
  display: flex;
}

.tab-selected {
  background-color: var(--secondary-color);
}

.tab-unselected:hover {
  background-color: var(--tertiary-color);
}
