@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;

  --primary-color: white;
  --secondary-color: rgb(100, 100, 100);
  --tertiary-color: rgb(50, 50, 50);


  background-color: rgb(34, 34, 34);
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.vertical-bar {
  width: 1px;
  height: 100%;
  background-color: var(--secondary-color);
}

.horizontal-bar {
  height: 1px;
  width: 100%;
  background-color: var(--secondary-color);
}

div {
  /* We're crazy like this. */
  display: flex;
}

.tab-selected {
  background-color: var(--secondary-color);
}

.tab-unselected:hover {
  background-color: var(--tertiary-color);
}
